<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
  <div class="login__group">
    <label for="username" class="login__label">Username</label>
    <input [ngClass]="{'login__input_error':form.get('username').invalid && form.get('username').touched}" type="text" class="login__input" id="username" placeholder="Username" formControlName="username">
    <span *ngIf="form.get('username').invalid && form.get('username').touched" class="login__error">Username can't be empty and less than 6 symbols</span>
  </div>
  <div class="login__group">
    <label for="password" class="login__label">Password</label>
    <input [ngClass]="{'login__input_error':form.get('password').invalid && form.get('password').touched}" type="password" class="login__input" id="password" placeholder="Password" formControlName="password">
    <span *ngIf="form.get('password').invalid && form.get('password').touched" class="login__error">Password must be more than 6 symbols and not empty</span>
  </div>
  <div class="login__group">
    <button type="submit" class="login__btn">Entry</button>
  </div>
  <div class="login__group">
    <p class="login__text"> You do not have account? <a [routerLink]="'/registration'" class="login__link">Registration!</a></p>
  </div>
</form>
