<p class="login__title">Entry for work</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
  <div class="login__group" [ngClass]="{'form-error': form.get('username').invalid && form.get('username').touched}">
    <label for="username">Username</label>
    <input type="text" class="login__input" id="username" placeholder="Username" formControlName="username">
    <span *ngIf="form.get('username').invalid && form.get('username').touched">Username can't be empty and less than 6 symbols</span>
  </div>
  <div class="login__group" [ngClass]="{'login__error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Пароль</label>
    <input type="password" class="login__input" id="password" placeholder="Password" formControlName="password">
    <span *ngIf="form.get('password').invalid && form.get('password').touched">Password must be more than 6 symbols and not empty</span>
  </div>
  <div class="login__group">
    <button type="submit" class="login__btn">Entry</button>
  </div>
  <div class="login__group">
    <p class="login__text"> You do not have account? <a [routerLink]="'/registration'" class="login__link">Registration!</a></p>
  </div>
</form>
