{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": 0,
    "max-len": [
      "error",
      110,
      4
    ],
    "no-plusplus": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-continue": 0,
    "object-shorthand": 1,
    "arrow-body-style": ["error", "always"],
    "prefer-const": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  },
  "parser": "babel-eslint",
  "no-use-before-define": ["error", { "functions": true, "classes": true }]
}