.tag {
  display: inline-block;
  padding: 20px 25px 20px 25px;
  background-color: rgb(243, 173, 73);
  color: #fff;
  font-size: 16px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.custom-popup-wrapper > .dropdown-menu {
  border: 1px solid #d9dcdc;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: ease 0.1s 0.1s;
  -o-transition: ease 0.1s 0.1s;
  -webkit-transition: ease 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: ease 0.1s 0.1s;
  position: static;
  float: none;
  display: block !important;
  width: auto;
  background-color: transparent;
  box-shadow: none;
}

.tag-field {
  width: 100%;
  padding: 7px 5px 7px;
  font-size: 20px;
}

.bootstrap-tagsinput input {
  padding: 10px 18px 10px;
}