<div class="sidebar__card" *ngFor="let item of employee, let i = index" [routerLink]="'/system/watch'" routerLinkActive="sidebar__card_active">
  <img src="{{item.photo}}" alt="" class="sidebar__photo">
  <div class="sidebar__description">
    <h1 class="sidebar__name">{{item.firstName}} {{item.lastName}}</h1>
    <p class="sidebar_characteristic">{{item.position}}</p>
    <div class="sidebar__skills">
      <span class="sidebar__skill" *ngFor="let skill of skills[i]">{{skill}}</span>
    </div>
  </div>
</div>
