.sidebar{
  &__card{
    box-shadow: 5px 0px 8px -10px rgba(0,0,0,0.5);
    padding: 10px 0;
    height: 150px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;

    &:first-child{
      border-top: 1px solid #ddd;
    }

    @media only screen and (max-width: 1200px){
      justify-content: center;
    }

    &_active{
      box-shadow: none!important;
    }
  }

  &__end{
    height: 100%;
  }

  &__photo{
    max-width: 150px;
    border-radius: 50%;
    margin: 0 20px;
  }

  &__description{
    @media only screen and (max-width: 1200px){
      display: none;
    }
  }

  &__progress{
    transform: rotate(300grad);
    width: 160px;
    position: absolute;
    left: -77px;
    top: 78px;
  }

  &__skill{
    background: #ccc;
    color: #00a5a1;
    border-radius: 6px;
    padding: 10px;
    margin-right: 5px;
    font-size: 12px;
  }
}
