<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-offset-5 col-md-2">
                <span class="glyphicon glyphicon-plus-sign" style="font-size: 30px" ></span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <img class="img-round"
                     src="/assets/images/images.png">
              </div>
              <div class="col-md-19">
                <label class="clickable text-left">Last Name</label>
                <div>Some text</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <img class="img-round"
                     src="/assets/images/images.png">
              </div>
              <div class="col-md-19">
                <label class="clickable text-left">Last Name</label>
                <div>Some text</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <img class="img-round"
                     src="/assets/images/images.png">
              </div>
              <div class="col-md-19">
                <label class="clickable text-left">Last Name</label>
                <div>Some text</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>