@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

/* app css stylesheet */
html {
  height: auto;
  width: auto;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%);
  background-size: 3px 3px;
}

body {
  padding-top: 50px;
  height: 100%;
}
.max-height {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  background-color: #e7e7e7;
  box-shadow:  0 1px 3px 2px rgba(15, 15, 15, .24);
}

.navbar-default .navbar-nav > li > a {
  color: rgba(37, 37, 37, 0.91);
}

/*clickable elements*/
.clickable {
  cursor: pointer !important;
}

/* Sidebar Styles */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 500px;
  width: 0;
  height: 100%;
  margin-left: -500px;
  overflow-y: auto;
  background-color: #fbfbfb;
  box-shadow:  3px 0 5px 0 rgba(15, 15, 15, .24);
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 500px;
    height: 100%;
  }

  #sidebar-wrapper {
    background-color: #fbfbfb;
    width: 500px;
  }

  #page-content-wrapper {
    width: 90%;
    min-height: 100vh;
    height: 100%;
    background-color: #fbfbfb;
    padding: 15px;
    position: relative;
    box-shadow:  3px 0 5px 0 rgba(15, 15, 15, .24);
  }
  #page-content {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%);
    background-size: 3px 3px;
  }
}

.font-color-grey-1{
  color: rgba(15, 15, 15, 0.62);
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

.black {
  background-color: black;
  box-shadow: none;
}

.orange {
  background-color: rgb(243, 173, 73);
  box-shadow: 0 3px 3px 1px rgb(194, 138, 58);
}

.orange:active {
  background-color: rgb(243, 173, 73);
  box-shadow: none;
}

.red {
  background-color: rgb(218, 85, 101);
  box-shadow: 0 3px 3px 1px rgb(175, 68, 81);
}

.red:active {
  background-color: rgb(218, 85, 101);
  box-shadow: none;
}

.green {
  background-color: rgb(81, 190, 135);
  box-shadow: 0 3px 3px 1px rgb(65, 153, 108);
}
.green:active {
  background-color: rgb(81, 190, 135);
  box-shadow: none;
}

.left {
  float: right;
  margin: 0;
}

.down {
  left: 0;
  bottom: 0;
  padding: 50px;
  width: 100%;
}

.field-block {
  padding-top: 10px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.field-block:before,
.field-block:after {
  content: "";
  display: table;
  margin-left: 0;
}
.field-block:after {
  clear: both;
}
.field-block .box {
  width: 49%;
  margin-left: 2%;
  float: left;
}

.field-block .box-select {
  width: auto;
  margin-left: 2%;
  float: left;
}

.field-block .box-select:first-child  {
  margin-left: 0;
}
.field-block .box:first-child {
  margin-left: 0;
}

.block-form {
  padding: 10px 22px 24px;
  margin-top: 20px;
  font-size: 22px;
  color: rgb(109, 69, 84);
}

.field-block a.handling-button {
  border-radius: 9px;
  font-size: 20px;
  color: #fbfbfb;
  padding: 20px 80px 20px 80px;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
}
.field-block a:hover {
  color: #fbfbfb;
}

.disabled-e {
  background-color: rgba(147, 147, 147, 0.76);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}