<div class="employee__i">
  <a class="employee__link" >
    <mat-icon class="large material-icons" (click)="onClick()">cancel</mat-icon>
  </a>
  <div class="employee__form">
    <div class="employee__photo">
      <img src="{{employee.photo}}" alt="" class="sidebar__photo">
    </div>
    <div class="employee__description">
      <div class="employee__caption">
        <h1 class="employee__name">{{employee.lastName}}</h1>
        <h1 class="employee__name">{{employee.firstName}}</h1>
        <span class="employee__data">
          <p class="employee__sex-birthday">
            ({{employee.Sex}}, {{employee.birthDay}})
          </p>
        </span>
      </div>
      <p class="employee__position">{{employee.position}}</p>
      <div class="employee__all-skills">
        <span class="employee__skill-item" *ngFor="let item of skills">
          {{item}}
        </span>
      </div>
      <div class="employee__character">
        <p class="employee__text">{{employee.characteristic}}</p>
      </div>
      <button mat-button class="employee__btn" (click)="DeleteEmployee()">Delete user</button>
    </div>
  </div>
</div>

