<div class="employee__i">
  <div class="employee_cancel">
    <a href="" class="employee__link" (click)="deleteCard()">
      <mat-icon class="large material-icons">cancel</mat-icon>
    </a>
  </div>
  <div class="employee__form">
    <div class="employee__photo">
      <img src="http://dummyimage.com/150" alt="" class="employee__img">
      <p class="employee__percents">Filled profile: {{percentsEmployee}}%</p>
    </div>
    <div class="employee__description">
      <form class="employee__card" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="employee__name">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstname" (ngModelChange)="UpdateBase()">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastname" (ngModelChange)="UpdateBase()">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput placeholder="position" formControlName="position" (ngModelChange)="UpdateBase()">
        </mat-form-field>
        <div class="employee__skills">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                        [removable]="removable" (remove)="remove(skill)">
                {{skill}}
              </mat-chip>
              <input
                formControlName="skill"
                matInput
                (ngModelChange)="UpdateBase()"
                placeholder="Your skills"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
          <div class="search" *ngFor="let item of result, let i=index">
            <ul class="search__list" *ngIf="form.controls.skill.value.length>0 || result.length==0">
              <li class="search__item" (click)="itemClick(i)">{{item}}</li>
            </ul>
          </div>
        </div>
        <div class="employee__sex-and-birthday">
          <mat-form-field>
            <mat-select class="employee__sex" (ngModelChange)="UpdateBase()" placeholder="Gender" formControlName="sex">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input class="employee__birthday" matInput [matDatepicker]="picker" placeholder="Birth Day" formControlName="birthday" (ngModelChange)="UpdateBase()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-form-field>
          <textarea matInput formControlName="character" placeholder="Characteristic" class="employee__textarea" (ngModelChange)="UpdateBase()"></textarea>
        </mat-form-field>
        <button mat-button type="submit" class="employee__btn">Save</button>
      </form>
    </div>
  </div>
</div>
