@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

html {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus,
input:focus {
  outline: none;
}