<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="pull-right">
          <span class="glyphicon glyphicon-remove-circle font-color-grey-1 clickable" ui-sref="list"
                style="font-size: 30px"></span>
  </div>
  <div class="container-fluid">
    <div class="block-form">

      <div class="media">
        <!--AVATAR IMAGE-->
        <div class="media-left">
          <img class="media-object avatar" ng-if="infoCtrl.oUser.photo" ng-src="{{infoCtrl.oUser.photo}}">
          <img class="media-object avatar" ng-if="!infoCtrl.oUser.photo" ng-src="{{infoCtrl.sDefaultAvatar}}">
        </div>

        <div class="media-body">
          <div class="container">
            <!--BEGIN FIRST/LAST NAME -->
            <div class="field-block margin-bottom-40">
              <span ng-bind="infoCtrl.oUser.last_name + ' ' + infoCtrl.oUser.first_name"></span>
              <span ng-bind="'(' + infoCtrl.oUser.gender + ', ' + (infoCtrl.oUser.birthday | date:'MM.dd.yyyy') + ')'"></span>
            </div>

            <!--BEGIN POSITION-->
            <div class="field-block margin-bottom-40">
              <span ng-bind="infoCtrl.oUser.position"></span>
            </div>
            <!--BEGIN SKILLS-->
            <div class="field-block margin-bottom-20">
              <div ng-repeat="skill in infoCtrl.oUser.skill track by $index" class="disabled-e tag-label margin-bottom-20">
                <span ng-bind="skill.name"></span>
              </div>
            </div>
            <!--BEGIN CHARACTERIZATION TEXT-->
            <div class="field-block margin-bottom-40">
              <div class="text" ng-bind="infoCtrl.oUser.characteristic"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="down">
        <!--BEGIN HANDLING BUTTOND-->
        <div class="field-block">
          <a class="handling-button red left"
             ng-class="{'disabled': emplCtrl.bisLoading}"
             ng-click="infoCtrl.fnRemoveUser(infoCtrl.oUser.id)">
            Delete user
          </a>
          <a class="handling-button orange left"
             ng-class="{'disabled': emplCtrl.bisLoading}"
             ui-sref="edit({ id: infoCtrl.oUser.id })">
            Edit user
          </a>
        </div>
      </div>
    </div>
  </div>
</div>