/* You can add global styles to this file, and also import other style files */

@import (less) "assets/material.css";
//@import (less) "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100vh;
  min-width: 96vw;
  margin: 0 !important;
  padding: 0 !important;
  background: #f2f2f2;
}

h1{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
