$header_color: #9E9E9E;
$skill: #e6e6e6;
$main_color: #FAFAFA;
$border_photo: #E0E0E0;
$save_button: #66BB6A;
$border_bottom: #d2c9cc;
$skill_text: #37b4ab;
$input: #cecece;
$filled-info: #90727c;
$dark_text: #6d4552;
$light_text: #90727c;