
.User {
  border: 2px solid #D9D2D5;
  margin-right: -2px;
  margin-bottom: -1px;
  height: 130px;
  font-size: 1em;
  position: relative;
  padding-left: 13px;
  color:black;
}




.User__photo {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 11px;
  top:50%;
  transform: translateY(-50%);
  border: 1px solid #D9D2D5;
  border-radius: 34px;
}


.User__userFilled {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;

  &_20{
    height:20%;
    background:linear-gradient(to top, #FF0000, #FF7F00);
  }
  &_25{
    height:25%;
    background:linear-gradient(to top, #FF0000, #FF7F00);
  }
  &_30{
    height:30%;
    background:linear-gradient(to top, #FF0000, #FF7F00);
  }
  &_35{
    height:35%;
    background:linear-gradient(to top, #FF0000, #FF7F00);
  }
  &_40{
    height:40%;
    background:linear-gradient(to top, #FF7F00, #FFFF00);
  }
  &_45{
    height:45%;
    background:linear-gradient(to top, #FF7F00, #FFFF00);
  }
  &_50{
    height:50%;
    background:linear-gradient(to top, #FF7F00, #FFFF00);
  }
  &_55{
    height:55%;
    background:linear-gradient(to top, #FF7F00, #FFFF00);
  }
  &_60{
    height:60%;
    background:linear-gradient(to top, #FFFF00, #7FFF00);
  }
  &_65{
    height:65%;
    background:linear-gradient(to top, #FFFF00, #7FFF00);
  }
  &_70{
    height:70%;
    background:linear-gradient(to top, #FFFF00, #7FFF00);
  }
  &_75{
    height:75%;
    background:linear-gradient(to top, #FFFF00, #7FFF00);
  }
  &_80{
    height:80%;
    background:linear-gradient(to top, #7FFF00, #00FF00);
  }
  &_85{
    height:85%;
    background:linear-gradient(to top, #7FFF00, #00FF00);
  }
  &_90{
    height:90%;
    background:linear-gradient(to top, #7FFF00, #00FF00);
  }
  &_95{
    height:95%;
    background:linear-gradient(to top, #7FFF00, #00FF00);
  }
  &_100{
    height:100%;
    background:linear-gradient(to top, #00FF00, #00FF00);
  }


}
.User__fullName {
  padding-left: 86px;
  padding-top: 28px;
  font-size: 0.8em;
  font-weight: bold;
}
.User__job {
  padding-left: 85px;
  color: grey;
  font-size: 0.7em;
}

.User__skillsContainer {}

.User__skills {
  padding-left: 85px;
  padding-top: 5px;
  font-size: 0.5em;
  display: inline;
  position: absolute;
  width: 100%;
}

li.User__skill {
  float:left;
}
li.User__skill:nth-child(3n+1) {
  clear:both;
}
li.User__skill:nth-child(n+7) {
  display: none;
}


.User__skill {
  background: #E6E6E6;
  display: inline;
  margin-right: 7px;
  margin-top: 5px;
  width: calc(30% - 1.3px);
  text-align: center;
  color:#24AEA5;
  border-radius: 3px;
}



.User_active .User{
  border-right: 2px solid #FAFAFA;
}

