body {
  background: #ece7e7;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.topElement {
  background-color: white;
  height: 70px;
  line-height: 70px;
  padding-left: 2%;
  border-bottom: 1px solid black;
}

.containerForUserListAndUserInfo {
  display: flex;
}


.leftElement {
  background-color: azure;
  width: 30%;
  border-right:1px solid black;
}
.rightElement {
  background-color: white;
  width: 70%;
}
.addUserElement {
  margin-top: 5px;
}

.addUserElement__button {
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.userList {
  margin-top: 0px;
}
.userList__container {
  margin: 0;
  padding: 0;

}
.userList__item {
  list-style-type: none
}
.userList__user {
  border: 1px solid black;
  padding: 3px 0;
  margin-top: 5px;
  margin-right: -1px;
}
